<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>
        <%= title%>
    </title>
</head>

<body>
    <form action="/post-login" method="post">
        <label for="email">Username</label><br>
        <input type="Email" id="email" name="email"><br>
        <label for="pwd">Password</label><br>
        <input type="password" id="pwd" name="pwd"><br><br>
        
        <label for="chkbox">I Agree to Terms and Conditions</label><br>
        <input type="checkbox" id="chkbox" name="chkbox"><br><br>
        <div class="submit">
            <button type="submit" id="login">Login</button>
        </div>
    </form>



    <div id="external">
        <h4 id='fb_login'>
            <a href="auth/facebook">Login with Facebook</a></h4>
        <button type="submit" class='login-thirdparty'>Login with Google</button>
    </div>
</body>

</html>
